﻿@{
    ViewBag.Title = "Cocktails";
}
<!--begin menu-hero-section -->
<section id="hero-section" class="cocktail-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text white wow fadeIn LaCueva" data-wow-delay="0.5s">Cocktails</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s"></h2>


            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end menu-hero-section -->
<!--begin first-menu-section -->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-12">

                <h2 class="menu-section-title">Cocktail Menu</h2>
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/Cosmopolitan.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Cosmopolitan</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Vodka, Cointreau, cranberry juice</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/StrawberryDaiquiri.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Strawberry Daiquiri</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Fresh strawberries, Bacardi & lime juice</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/Mojito.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Mojito</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">White Rum, syrup, lime juice & fresh mint</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/AmarettoSour.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Amaretto Sour</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Amaretto & lemon juice</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/EspressoMartini.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Espresso Martini</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Shot of espresso Vodka & Kahlua</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/WooWoo.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Woo Woo</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Vodka, Archers, lime juice & cranberry juice</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/SexOnTheBeach.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Sex On the Beach</h5>

                            <p class="price">&pound;5.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Vodka, Archers, lime juice & cranberry juice</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Cocktails/Bellini.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>Bellini</h5>

                            <p class="price">&pound;6.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Strawberry or Peach & Prosecco</p>

                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->


    </div>
    <!--end container-->

</section>
<!--end first-menu-section -->
