﻿@{
    ViewBag.Title = "Contact";
}
    <!--begin contact-hero-section -->
<section id="hero-section" class="contact-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn LaCueva" data-wow-delay="0.5s">LaCueva</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s">0161 478 6969</h2>

                <p class="hero-text wow fadeInUp" data-wow-delay="2s">For any enquiries you can give us a call<br>Alternatively we can get in touch using the form bellow.</p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-hero-section -->
<!--begin contact2-hero-section-->
<div class="contact2-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <h3 class="section-title small-margin wow fadeIn" data-wow-delay="0.5s">CONTACT FORM</h3>

                <p class="wow fadeInUp" data-wow-delay="1s">8 Old Rectory Gardens, Wilmslow Road, Cheadle  SK8 1BX</p>

                <!--begin contact-wrapper-->
                <div class="contact-wrapper">

                    <!--begin success message -->
                    <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
                    <!--end success message -->
                    <!--begin contact form -->

                    <form id="contact-form" class="contact" action="http://mailer.logicmade.com/default.aspx" method="post">
                        <input type="hidden" name="FormCaption" VALUE="LaCueva Contact Form">
                        <input type="hidden" name="ReturnURLOK" VALUE="http://www.LaCuevaCheadle.co.uk/bookingOK.html">

                        <input type="hidden" name="ToAdr" VALUE="booking@LaCuevaCheadle.co.uk">
                        <input type="hidden" name="SiteID" VALUE="110">
                        <input type="hidden" name="FormID" VALUE="4">


                        <!--begin col-md-6-->
                        <div class="col-md-6 wow slideInLeft" data-wow-delay="0.5s">
                            <input class="contact-input white-input" required name="contact_names" placeholder="Full Name*" type="text">
                            <input class="contact-input white-input" required name="contact_email" placeholder="Email Adress*" type="email">
                            <input class="contact-input white-input" required name="contact_phone" placeholder="Phone Number*" type="text">
                        </div>
                        <!--end col-md-6-->
                        <!--begin col-md-6-->
                        <div class="col-md-6 wow slideInRight" data-wow-delay="0.5s">
                            <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message" placeholder="Your Message..."></textarea>
                        </div>
                        <!--end col-md-6-->

                        <input value="Send Message" id="submit-button" class="contact-submit wow fadeInUp" data-wow-delay="1s" type="submit">

                    </form>
                    <!--end contact form -->

                </div>
                <!--end contact-wrapper-->

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</div>
<!--end contact2-hero-section-->
<section class="section-white small-padding-bottom">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row margin-bottom-40">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.1992843467488!2d-2.2198373593161262!3d53.39337494102252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x690c95ee116a6f9c!2sLa+Cueva!5e0!3m2!1sen!2suk!4v1460917843932" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>


            </div>
            <!--end col-md-12-->
        </div>
    </div>
</section>