﻿@model LaCuevaMVC.Models.AppBooking
@{
    ViewBag.Title = "Booking Sent";
}
<!--begin reservation-hero-section -->
<section id="hero-section" class="reservation-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn LaCueva" data-wow-delay="0.5s">LaCueva</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s">We received your message and you'll hear from us soon. Thank You!</h2>

                <p class="hero-text wow fadeInUp" data-wow-delay="2s"></p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end reservation-hero-section -->
