﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Spanish Tapas Restaurant Wine Bar Cheadle Stockport Manchester">
    <meta name="description" content="La Cueva is a Spanish Tapas Restaurant and Wine Bar in Cheadle Manchester. Foods freshly prepared and served everyday">

    <title>@ViewBag.Title - La Cueva</title>
    @Styles.Render("~/Bundles/css")
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Template CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style-magnific-popup.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/icons-main.css" rel="stylesheet">
    <link href="~/css/icons-helper.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css">

    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/Content/js/html5shiv.js"></script>
      <script src="/Content/js/respond.min.js"></script>
    <![endif]-->
    <!--headerIncludes-->
</head>
<body>
    <!--begin loader -->
    <div id="loader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--end loader -->
    <!--begin header -->
    <header class="header">

        <!--begin nav -->
        <nav class="navbar navbar-default navbar-fixed-top">

            <!--begin container -->
            <div class="container">

                <!--begin navbar -->
                <div class="navbar-header">
                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="Home" class="Logo">LaCueva</a>

                </div>

                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li @{
                                if (ViewBag.Page == "Home")
                                {
                                    <text> class="selected" </text>
                                }
                            }
                            ><a href="Home">Home</a></li>


                        <li @{
                                if (ViewBag.Page == "Menu")
                                {
                                    <text> class="selected" </text>
                                }
                            }
                            ><a href="menu">Menu</a></li>

                        <li @{
                               if (ViewBag.Page == "Wine")
                               {
                                   <text> class="selected" </text>
                               }
                           }>
                            <a href="wine">Wine List</a></li>
                        
                            <li @{
                                if (ViewBag.Page == "Cocktails")
                                {
                                    <text> class="selected" </text>
                                }
                            }><a href="Cocktails">Cocktails</a></li>
                       
                         <li @{
                                if (ViewBag.Page == "Booking")
                                {
                                    <text> class="selected" </text>
                                }
                            }><a href="Booking">Reservations</a></li>
                        <li @{
                                if (ViewBag.Page == "Gallery")
                                {
                                    <text> class="selected" </text>
                                }
                            }><a href="Gallery">Gallery</a></li>
                        <li @{
                                if (ViewBag.Page == "Contact")
                                {
                                    <text> class="selected" </text>
                                }
                            }><a href="Contact">Contact</a></li>

                        <li class="social"><a href="#" class="first"><i class="fa fa-twitter"></i></a></li>
                        <li class="social"><a href="https://www.facebook.com/LaCuevaCheadle"><i class="fa fa-facebook"></i></a></li>
                        <li class="social"><a href="https://www.instagram.com/lacueva_cheadle/" class="last"><i class="fa fa-instagram"></i></a></li>

                        <li><a href="tel:01614786969" class="purchase"> 0161 478 6969</a></li>
                    </ul>
                </div>
                <!--end navbar -->

            </div>
            <!--end container -->

        </nav>
        <!--end nav -->

    </header>
<!--end header -->

        @RenderBody()

    <!--begin footer -->
    <div class="footer">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row footer-top">

                <!--begin col-md-3 -->
                <!--begin col-md-3 -->
                <div class="col-md-4 padding-bottom-50">

                    <h4>CONTACT DETAILS</h4>

                    <p>We are in the heart of Cheadle Village</p>

                    <p class="contact_info"><i class="fa fa-map-marker"></i> 8 Old Rectory Gardens, Wilmslow Road, Cheadle SK8 1BX
                    </p>

                    <p class="contact_info"><i class="fa fa-phone"></i> 0161 478 6969
                    </p>

                    <p class="contact_info"><i class="fa fa-envelope-square"></i> <a href="mailto:info@Lacuevacheadle.co.uk">info@lacuevacheadle.co.uk</a>
                    </p>

                </div>
                <div itemscope itemtype="http://schema.org/LocalBusiness" class="col-md-4 padding-bottom-50">
                    <h4>Opening Hours</h4>
                    <p style="color:chartreuse"></p>
                    <time itemprop="openingHours" datetime="Mo 16:00-23:00"><p style="width:90px;float:left;line-height:15px;margin:0px;">Monday</p> <p style="line-height:15px;margin:0px;">16:00-23:00</p></time>
                    <time itemprop="openingHours" datetime="Tu 16:00-23:00"><p style="width:90px;float:left;line-height:15px;margin:0px;">Tuesday</p> <p style="line-height:15px;margin:0px;">16:00-23:00</p></time>
                    <time itemprop="openingHours" datetime="We 16:00-23:00"><p style="width:90px;float:left;line-height:15px;margin:0px;">Wednesday</p> <p style="line-height:15px;margin:0px;">16:00-23:00</p></time>
                    <time itemprop="openingHours" datetime="Th 16:00-23:00"><p style="width:90px;float:left;line-height:15px;margin:0px;">Thursday</p> <p style="line-height:15px;margin:0px;">16:00-23:00 </p></time>
                    <time itemprop="openingHours" datetime="Fr 16:00-22:30"><p style="width:90px;float:left;line-height:15px;margin:0px;">Friday</p> <p style="line-height:15px;margin:0px;">16:00-22:30</p></time>
                    <time itemprop="openingHours" datetime="Sa 16:00-23:00"><p style="width:90px;float:left;line-height:15px;margin:0px;">Saturday</p> <p style="line-height:15px;margin:0px;">16:00-23:00</p></time>
                    <time itemprop="openingHours" datetime="Su 16:00-22:30"><p style="width:90px;float:left;line-height:15px;margin:0px;">Sunday</p> <p style="line-height:15px;margin:0px;">16:00-22:30</p></time>
                    </div>

                <div class="col-md-4 padding-bottom-50">
                    


                </div>
                <!--end col-md-3 -->

            </div>
            <!--end row -->
            <!--begin row -->
            <div class="row">

                <!--begin footer-bottom -->
                <div class="footer-bottom">

                    <!--begin col-md-5 -->
                    <div class="col-md-5">

                        <!--begin copyright -->
                        <div class="copyright ">
                            <p>© 2016 LaCueva. Developed by <a href="http://www.logicmade.co.uk" target="_blank">Logicmade Solutions</a></p>

                        </div>
                        <!--end copyright -->

                    </div>
                    <!--end col-md-5 -->
                    <!--begin col-md-2 -->
                    <div class="col-md-2 text-center">

                        <a href="#hero-section" class="scrool top-scroll"><i class="fa fa-angle-double-up"></i></a>

                    </div>
                    <!--end col-md-2 -->
                    <!--begin col-md-5 -->
                    <div class="col-md-5">

                        <!--begin footer_social -->
                        <ul class="footer_social">
                            <li>
                                Follow Us:
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/LaCuevaCheadle">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/lacueva_cheadle/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                        <!--end footer_social -->

                    </div>
                    <!--end col-md-5 -->

                </div>
                <!--end footer-bottom -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </div>
    <!--end footer -->


@Scripts.Render("~/bundles/js")
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/jquery.scrollTo-min.js"></script>
    <script src="~/js/SmoothScroll.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/instafeed.js"></script>
    <script src="~/js/instagram.js"></script>

    <!-- RS5.0 Core JS Files -->
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.carousel.min.js"></script>

    <!-- begin custom script-->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
</body>
</html>
