﻿@{
    ViewBag.Title = "Wine";
}
<!--begin menu-hero-section -->
<section id="hero-section" class="wine-hero-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text white wow fadeIn LaCueva" data-wow-delay="0.5s">Wine List</span>

                <h2 class="section-title white wow bounceIn" data-wow-delay="1s">Food &amp; Drinks</h2>

                <p class="hero-text wow fadeInUp" data-wow-delay="2s">
                    An unforgettable dining experience in the heart of Cheadle.<br>
                    Spanish tapas menu, great wines and cocktails
                </p>

            </div>
            <!--end col-md-10-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end menu-hero-section -->
<!--begin first-menu-section -->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-12">

                <h2 class="menu-section-title">White Wines</h2>
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/verdejo.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) El tesoro verdejo</h5>
                            <p class="price">&pound;16.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Intensly aromatic Verdejo from Rueda's finest co-operative. Aromas of tropical fruit with hints of citrus. The palate has some passion fruit and grapefruit characters backed by broader stone fruit notes. Well-balanced and textural palate with a fresh, bright finish.</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Borsao.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) Borsao Seleccion Blanco</h5>
                            <p class="price">&pound;17.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">100% indigenous, characterful, Macabeo from this respected Campo de Borja producer</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

            <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Sarria.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) Senorio de Sarria Chardonnay</h5>
                            <p class="price">&pound;17.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">A ripe unoaked Chardonnay, this isn't far off a Macon Chardonnay!</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

            <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Trulli.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) Trulli Pinot Grigio (Italy)</h5>
                            <p class="price">&pound;17.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Packed full of fruit with flavours of grapefruit and lemons this is a very appealing wine, soft in the mouth with a delicate finish.</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Siglos.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) Diez Siglos Rueda Verdejo</h5>
                            <p class="price">&pound;18.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">A real step up from the house. This is a complex, vibrant wine from one of Rueda's most progressive producers.</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->

                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Vetiver.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) Ontanon Vetiver Rioja Blanco.</h5>
                            <p class="price">&pound;19.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Stylish white Rioja with plenty of fruit and a touch of toasty oak.</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->

                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Garnacha.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) Catalan Eagle White Garnacha Blanca</h5>
                            <p class="price">&pound;22.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Lovely floral nose and a plenty of stone fruit on the palate in this aromatic white blend from Catalonia</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Albarino.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(White) La Val Orballo Albarino</h5>
                            <p class="price">&pound;24.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Ever increasing in popularity, Albarino has all the things you want from a great seafood white, fruit, freshness and lovely texture</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

                <h2 class="menu-section-title">Cava</h2>
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Cava.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Cava) La Vida al Camp Cava</h5>
                            <p class="price">&pound;27.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Organic sparkling wine from the side project of one of the most famous families in Cava. The perfect start to a meal.</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

                <h2 class="menu-section-title">Rose Wines</h2>
            <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Wine/Rose.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">

                            <h5>(Rose) Borsao Selection Rosado</h5>

                            <p class="price">&pound;17.95</p>

                            <span class="menu-dot-line"></span>

                        </div>
                        <!--end menu-list-->

                        <p class="menu-ingredients">Underestimated Spanish rose. Appealing fruit flavours and lovely balance</p>

                    </div>
                    <!--end menu-description-->

                </div>
            <!--end menu-wrapper-->
                <h2 class="menu-section-title">Red Wines</h2>
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Tesoro.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">

                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Tesoro Monastrell Shiraz</h5>
                            <p class="price">&pound;16.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">A ripe, juicy red with layers of spicy fruit and damson, that massively over deliversfor the price </p>
                    </div>
                    <!--end menu-description-->

                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/tempranillo.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Manon Tempranillo</h5>
                            <p class="price">&pound;17.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Tierra de Castilla's interpretation of Rioja's most famous grape</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Tinto.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Borsao Seleccion Tinto</h5>
                            <p class="price">&pound;17.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Borsao's star wine - it may not be be the iconic Tres Picos, but there is no denying the quality of this Garnacha.</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Fuenteseca.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Fuenteseca Bobal Cabernet</h5>
                            <p class="price">&pound;18.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">(Organic) Bobal is a Spanish grape that brings lovely juicy fruit to this blend, the more heralded Cabarnet gives structure and complexity. Lovely</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">

                    <!--begin menu-image-->
                    <div class="menu-image">

                        <img src="/Content/images/Wine/JuanGill.jpg" class="width-100" alt="food">

                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Juan Gill Yellow Label Monastrell </h5>
                            <p class="price">&pound;21.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">A beautiful Monastrell from 40 year old vineyards. Intense juicy fruit and a lick of spice.</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Ontanon.jpg" class="width-100" alt="food">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Ontanon Ecologico Rioja</h5>
                            <p class="price">&pound;22.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">Organic Rioja from one of this producer's top vineyards. Silky texture and a touch of mocha on the finish</p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->

            <!--begin menu-wrapper-->
            <div class="menu-wrapper col-md-12">
                <!--begin menu-image-->
                <div class="menu-image">
                    <img src="/Content/images/Wine/Fidelis.jpg" class="width-100" alt="Pinna Fidelis Roble">
                </div>
                <!--end menu-image-->
                <!--begin menu-description-->
                <div class="menu-description">
                    <!--begin menu-list-->
                    <div class="menu-list">
                        <h5>(Red) Pinna Fidelis Roble</h5>
                        <p class="price">&pound;22.50</p>
                        <span class="menu-dot-line"></span>
                    </div>
                    <!--end menu-list-->
                    <p class="menu-ingredients">An appealing juicy and smoky style of red from the Ribena del Duero. Probably best described as more robust Rioja</p>
                </div>
                <!--end menu-description-->
            </div>
            <!--end menu-wrapper-->

                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/Artesa.jpg" class="width-100" alt="Artesa Rioaja Reserva">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Red) Artesa Rioaja Reserva</h5>
                            <p class="price">&pound;22.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients">An elegant Rioja from Artesa's highest vineyards, plenty of fruit and an appealing savoury spice.</p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->

            <h2 class="menu-section-title">Sangria</h2>
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/RedSangria.jpg" class="width-100" alt="Red Wine Sangria">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Sangria) Red Wine Sangria (Jug)</h5>
                            <p class="price">&pound;15.95</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients"></p>
                    </div>
                    <!--end menu-description-->
                </div>
            <!--end menu-wrapper-->
                <!--begin menu-wrapper-->
                <div class="menu-wrapper col-md-12">
                    <!--begin menu-image-->
                    <div class="menu-image">
                        <img src="/Content/images/Wine/CavaSangria.jpg" class="width-100" alt="Cava Sangria">
                    </div>
                    <!--end menu-image-->
                    <!--begin menu-description-->
                    <div class="menu-description">
                        <!--begin menu-list-->
                        <div class="menu-list">
                            <h5>(Sangria) Cava Sangria (Jug)</h5>
                            <p class="price">&pound;18.50</p>
                            <span class="menu-dot-line"></span>
                        </div>
                        <!--end menu-list-->
                        <p class="menu-ingredients"></p>
                    </div>
                    <!--end menu-description-->
                </div>
                <!--end menu-wrapper-->

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->


    </div>
    <!--end container-->

</section>
<!--end first-menu-section -->
