﻿@{
    ViewBag.Title = "Spanish Tapas & Wine Bar";
}
    <!--begin home-hero-section -->
<div id="hero-section" class="home-hero-section">

    <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="concept1" style="background-color:#000000;padding:0px;">

        <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
        <div id="rev_slider_202_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.1RC">

            <ul>

                  <li data-index="rs-672" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/150x100" data-rotate="0" data-saveperformance="off" data-title="Valentine's Day" data-description="">
                    
                        <!-- MAIN IMAGE -->
                        <img src="./images/Slide/Mothers1.jpg" alt="" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper " id="slide-672-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-674-layer-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-97','-114']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;"><img src="images/LaCueva_Logo_Yellow.png" alt="" width="350" height="175" data-no-retina>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-672-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['115','115','107','104']" data-fontsize="['28','28','20','20']" data-lineheight="['28','28','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">We are open from 1.00 pm on Sunday 11 March
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Concept-Title   tp-resizeme" id="slide-672-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">Mothers Day
                        </div>

                        


                    </li>


            
                <!-- SLIDE  -->
                <li data-index="rs-672" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/150x100" data-rotate="0" data-saveperformance="off" data-title="SPANISH TAPAS" data-description="">

                    <!-- MAIN IMAGE -->
                    <img src="/Content/images/Slide/Slide1.jpg" alt="" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper " id="slide-672-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="0" data-basealign="slide" data-responsive_offset="off" data-responsive="off" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-674-layer-15" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-97','-114']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                        <img src="/Content/images/LaCueva_Logo_Yellow.png" alt="" width="350" height="175" data-no-retina>
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-672-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['115','115','107','104']" data-fontsize="['28','28','20','20']" data-lineheight="['28','28','20','20']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                         We're Known for Great Tapas in Cheadle 
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Concept-Title   tp-resizeme" id="slide-672-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">
                        SPANISH TAPAS
                    </div>


                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption Dining-BtnLight rev-btn" id="slide-672-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['612','552','641','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(255, 255, 255, 0.15);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeInOut;" data-transform_out="auto:auto;s:2;" data-start="2100" data-splitin="none" data-splitout="none" data-actions='[{"event":"click","action":"startlayer","layer":"slide-672-layer-6","delay":""},{"event":"click","action":"scrollbelow","offset":"-76px"}]' data-responsive_offset="on" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="reset" style="z-index: 9; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;">
                        DISCOVER STORY
                    </div>

                </li>


                <!-- SLIDE  -->
                <li data-index="rs-673" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/150x100" data-rotate="0" data-saveperformance="off" data-title="INGREDIENTS" data-description="">

                    <!-- MAIN IMAGE -->
                    <img src="/Content/images/Slide/Slide3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-shape tp-shapewrapper " id="slide-674-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-start="bytrigger" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-end="bytrigger" data-lasttriggerstate="keep" style="z-index: 5;background-color:rgba(255, 255, 255, 0.35);border-color:rgba(0, 0, 0, 0);">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption Concept-SubTitle   tp-resizeme" id="slide-674-layer-17" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-97','-114']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap;font-style:italic;">
                        <img src="/Content/images/logo2.png" alt="" width="350" height="175" data-no-retina>
                    </div>



                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption Concept-Title   tp-resizeme" id="slide-672-layer-14" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','50']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','50','40']" data-width="['none','none','none','400']" data-height="none" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;" data-start="1700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;text-align:center;">
                        FRESH INGREDIENTS
                    </div>


                </li>

            </ul>

            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>

        </div>

    </div>
    <!-- END REVOLUTION SLIDER -->

</div>
<!--end home-hero-section -->
<!--begin section-white-->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 text-center padding-top-50 padding-bottom-50 wow slideInLeft">

                <span class="comic-text">Our goal</span>

                <p>
                    At <span class="LaCueva">La Cueva</span>, our goal is simple...

                    to serve you authentic Spanish Tapas in friendly, atmospheric
                    surroundings. Come and sample some of our delicious freshly
                    made tapas dishes whilst enjoying one of our fine wines, beers,
                    cocktails or soft drinks. We look forward to welcoming you at
                    our restaurant in the heart of Cheadle village.
                </p>

            </div>
            <!--end col-md-6-->
            <!--begin col-md-6-->
            <div class="col-md-6 wow slideInRight">

                <!--begin carousel1-->
                <div id="myCarousel1" class="carousel carousel1 slide" data-interval="true">

                    <!--begin carousel-inner-->
                    <div class="carousel-inner">

                        <!--begin carousel item-->
                        <div class="item active">

                            <!--begin image-wrapper-->
                            <div class="image-wrapper">
                                <img src="/Content/images/Slide/s_table.jpg" alt="picture" class="width-100">
                            </div>
                            <!--end image-wrapper-->

                        </div>
                        <!--end carousel item-->
                        <!--begin carousel item-->
                        <div class="item">

                            <!--begin image-wrapper-->
                            <div class="image-wrapper">
                                <img src="/Content/images/Gallery/LaCueva_Gallery4.JPG" alt="picture" class="width-100">
                            </div>
                            <!--end image-wrapper-->

                        </div>
                        <!--end carousel item-->

                    </div>
                    <!--end carousel-inner-->
                    <!-- begin carousel-indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel1" data-slide-to="1"></li>
                    </ol>
                    <!-- end carousel-indicators -->

                </div>
                <!--end carousel1-->

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->


</section>
<!--end section-white-->
<!--begin image-section -->
<section class="image-section">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-10-->
            <div class="col-md-10 col-md-offset-1 text-center">

                <span class="comic-text wow fadeIn">True Passion</span>

                <h3 class="section-title white wow bounceIn">Natural Flavours</h3>

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end image-section -->
<!--begin section-white-->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 wow slideInLeft">

                <!--begin carousel1-->
                <div id="myCarousel2" class="carousel carousel1 slide" data-interval="true">

                    <!--begin carousel-inner-->
                    <div class="carousel-inner">

                        <!--begin carousel item-->
                        <div class="item active">

                            <!--begin image-wrapper-->
                            <div class="image-wrapper">
                                <img src="/Content/images/Gallery/LaCueva_Gallery3.JPG" alt="picture" class="width-100">
                            </div>
                            <!--end image-wrapper-->

                        </div>
                        <!--end carousel item-->
                        <!--begin carousel item-->
                        <div class="item">

                            <!--begin image-wrapper-->
                            <div class="image-wrapper">
                                <img src="/Content/images/mid/prawn.jpg" alt="picture" class="width-100">
                            </div>
                            <!--end image-wrapper-->

                        </div>
                        <!--end carousel item-->

                    </div>
                    <!--end carousel-inner-->
                    <!-- begin carousel-indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel2" data-slide-to="1"></li>
                    </ol>
                    <!-- end carousel-indicators -->

                </div>
                <!--end carousel1-->

            </div>
            <!--end col-md-6-->
            <!--begin col-md-6-->
            <div class="col-md-6 text-center padding-top-50 padding-bottom-50 wow slideInRight">

                <span class="comic-text LaCueva">Discover</span>

                <h2 class="section-title">Our Tastes</h2>

                <p>Come and enjoy the taste of Spain.</p>

                <a href="Menu" class="btn btn-lg btn-yellow scrool">Our Menu</a>

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->
<!--begin home-menu-section -->
<section class="home-menu-section" style="display:none;">

    <!--begin image-overlay -->
    <div class="image-overlay"></div>
    <!--end image-overlay -->
    <!--begin container-->
    <div class="container image-section-inside">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-7-->
            <div class="col-md-7">

                <div class="text-center margin-bottom-30">

                    <span class="comic-text wow fadeIn">Best Recipes</span>

                    <h3 class="section-title white wow bounceIn">Selected for you</h3>

                </div>

                <!--begin row-->
                <div class="row">

                    <!--begin col-md-6-->
                    <div class="col-md-6 wow fadeInUp">

                        <!--begin menu-wrapper-->
                        <div class="menu-wrapper">

                            <!--begin home-menu-list-->
                            <div class="home-menu-list">

                                <h5 class="white">English Breakfast</h5>

                                <p class="price">&pound;12.95</p>

                                <span class="dot-line"></span>

                            </div>
                            <!--end home-menu-list-->

                            <p class="home-menu-ingredients">Scrambled eggs with crispy bacon, sausage, black pudding, tomato &amp; mushroom.</p>

                        </div>
                        <!--end menu-wrapper-->

                    </div>
                    <!--end col-md-6-->
                    <!--begin col-md-6-->
                    <div class="col-md-6 wow fadeInUp">

                        <!--begin menu-wrapper-->
                        <div class="menu-wrapper">

                            <!--begin home-menu-list-->
                            <div class="home-menu-list">

                                <h5 class="white">Lasagna Classica</h5>

                                <p class="price">&pound;19.55</p>

                                <span class="dot-line"></span>

                            </div>
                            <!--end home-menu-list-->

                            <p class="home-menu-ingredients">Broccoli rabe, ittalian sausage, peperoncino, tomates, flour and roasted garlic.</p>

                        </div>
                        <!--end menu-wrapper-->

                    </div>
                    <!--end col-md-6-->
                    <!--begin col-md-6-->
                    <div class="col-md-6 wow fadeInUp">

                        <!--begin menu-wrapper-->
                        <div class="menu-wrapper">

                            <!--begin home-menu-list-->
                            <div class="home-menu-list">

                                <h5 class="white">Vegetables Soup</h5>

                                <p class="price">&pound;9.95</p>

                                <span class="dot-line"></span>

                            </div>
                            <!--end home-menu-list-->

                            <p class="home-menu-ingredients">Papaya salsa, sliced red radishes, avocado, corn tortilla, spicy tomato ketchup.</p>

                        </div>
                        <!--end menu-wrapper-->

                    </div>
                    <!--end col-md-6-->
                    <!--begin col-md-6-->
                    <div class="col-md-6 wow fadeInUp">

                        <!--begin menu-wrapper-->
                        <div class="menu-wrapper">

                            <!--begin home-menu-list-->
                            <div class="home-menu-list">

                                <h5 class="white">Toffee Pudding</h5>

                                <p class="price">&pound;10.50</p>

                                <span class="dot-line"></span>

                            </div>
                            <!--end home-menu-list-->

                            <p class="home-menu-ingredients">Baked caramel colored sponge cake with raisins, ladled with warm toffee sauce.</p>

                        </div>
                        <!--end menu-wrapper-->

                    </div>
                    <!--end col-md-6-->

                </div>
                <!--end row-->
                <!--begin row-->
                <div class="row text-center margin-top-20 wow bounceIn" style="display:none;">

                    <a href="#" class="btn btn-lg btn-white-transparent scrool"><i class="pe-7s-note2" style="font-size:20px; float: left; margin-top:-3px; margin-right: 10px; color: #f8bf2c;"></i>FULL MENU</a>

                </div>
                <!--end row-->

            </div>
            <!--end col-md-7-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end home-menu-section -->
<!--begin section-white-->
<section class="section-white small-padding-bottom" style="display:none;">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row margin-bottom-40">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center">

                <div class="text-center">

                    <span class="comic-text wow fadeIn LaCueva SpanishRed">Offers & Events</span>

                    <h2 class="section-title wow bounceIn"></h2>

                </div>

            </div>
            <!--end col-md-12-->

        </div>
        <!--end row-->
        <!--begin row-->
        <div class="row">

            <!--begin col-md-4 -->
            <div class="col-md-4 wow bounceInUp">

                <!--begin blog-item -->
                <div class="blog-item">

                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#" class="blog-item-pic"><img src="http://placehold.it/800x540" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-link eye-icon"></i></span></a>
                        </div>
                    </div>
                    <!--begin popup image -->
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">

                        <h3 class="blog-title"><a href="#">3 Course &pound; 10</a></h3>


                        <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias voluptas sit netsum.</p>

                        <a href="#" class="btn btn-lg btn-yellow-small scrool">Details</a>

                    </div>
                    <!--end blog-item-inner -->

                </div>
                <!--end blog-item -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 wow bounceInUp">

                <!--begin blog-item -->
                <div class="blog-item">

                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#" class="blog-item-pic"><img src="http://placehold.it/800x540" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-link eye-icon"></i></span></a>
                        </div>
                    </div>
                    <!--begin popup image -->
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">

                        <h3 class="blog-title"><a href="#">Oldest London Pub</a></h3>


                        <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias voluptas sit netsum.</p>

                        <a href="#" class="btn btn-lg btn-yellow-small scrool">DISCOVER MORE</a>

                    </div>
                    <!--end blog-item-inner -->

                </div>
                <!--end blog-item -->

            </div>
            <!--end col-md-4-->
            <!--begin col-md-4 -->
            <div class="col-md-4 wow bounceInUp">

                <!--begin blog-item -->
                <div class="blog-item">

                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="#" class="blog-item-pic"><img src="http://placehold.it/800x540" class="width-100" alt="pic"><span class="eye-wrapper"><i class="pe-7s-link eye-icon"></i></span></a>
                        </div>
                    </div>
                    <!--begin popup image -->
                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">

                        <h3 class="blog-title"><a href="#">New Cooking Recipes</a></h3>


                        <p>Quis autem velis et reprehender etims quiste voluptate velit esse quam nihil etsa illum sedit consequatur quias voluptas sit netsum.</p>

                        <a href="#" class="btn btn-lg btn-yellow-small scrool">DISCOVER MORE</a>

                    </div>
                    <!--end blog-item-inner -->

                </div>
                <!--end blog-item -->

            </div>
            <!--end col-md-4-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->
<!-- <a href="#openModal" id="popup"></a>

<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="closeBtn" >X</a>
        <h3>Festive Time Updates</h3>
        <center>
        <h4>Christmas bookings are now being taken</h4>
        <h4>We are closed on the dates below</h4>

            <ul>
                <li><b>25.12.2017</b></li>
                <li><b>26.12.2017</b></li>
                <li><b>01.01.2018</b></li>
            </ul>
            <a href="#close" title="Close" class="btn btn-lg btn-yellow ">Close</a>
        </center>
    </div>
</div>
-->
<script>
    //document.getElementById('popup').click();
    
    ////document.getElementById('openModal').trigger('click');
</script>